.container-sidebar {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 90px;
    background-color: #0f0f0f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.4s ease-in-out;
    z-index: 101;
    border-right-color: rgb(255, 255, 255);
    border-right-style: outset;
    border-right-width: 0.3px;
    overflow: hidden;
}

.container-sidebar.show {
    left: 0;
    width: 190px;
}
